html
  head
    title!= title
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css" href="/css/style.css")
  body
    include ./header.jade
    ul.archive
      - var lastYear = 0;
      each post in posts
        if lastYear != post.time.year
          li
            h3 
              != post.time.year
        - lastYear = post.time.year
        li
          time 
            != post.time.day
        li
          a(href="/u/#{post.name}/#{post.time.day}/#{post.title}") 
            != post.title
