html
  head
    title!= title
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css" href="/css/style.css")
  body
    include ./header.jade
    artcile 
      if success
        div success
      if fail
        div fail
