html
  head
    title!= title
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css" href="/css/style.css")
  body
    include ./header.jade
    form(method="post" action='/upload' enctype='multipart/form-data')
      input(type="file" multiple name='field1')
      br
      input(type="submit")
